* {
  margin: 0;
  padding: 0;
}

div {
  background-color: blue;
}

.box {
  background-color: red;
}

.box {
  background-color: yellow;
  margin: 20px;
}

#hamburger {
  background-color: green;
}

div img {
  width: 100px;
}

a:hover {
  color: red;
  text-decoration: none;
}
