/* For margin */
margin-top: value;
margin-right: value;
margin-bottom: value;
margin-left: value;

/* For padding */
padding-top: value;
padding-right: value;
padding-bottom: value;
padding-left: value;
