.parent {
  padding: 10px;
  background-color: gray;
  position: relative;
  height: 200vh;
}

.child-one {
  background-color: red;
  position: sticky;
  top: 0px;
}

.child-two {
  background-color: yellow;
}

.child-three {
  background-color: blue;
}
