* {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 100;
}

.parent {
  padding: 10px;
  background-color: gray;
  position: relative;
  height: 200vh;
}

.child-one {
  background-color: red;
  position: relative;
  top: 10px;
}

.child-two {
  background-color: yellow;
  position: relative;
  top: 0;
}

.child-three {
  background-color: blue;
  position: relative;
  top: 10px;
}

.child-one h1 {
  position: relative;
}
