header nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.5rem;
    
}

header nav a {
    text-decoration: none;
    color: #29d131;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 48px;
}

header nav a:hover {
    background-color: #333;
    color: #fff;
}