img:hover{
    transform: scale(1000);
    opacity: 1;
}

img{
    width: 800px;
    transition: transform 1000s, opacity 1s;
    opacity: 0;
}


a{
    font-size: 100px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-shadow: 2px 2px 5px black;
}

h2{
    font-size: 50px;
}